<template>
  <q-btn flat round
    v-if="isAdmin"
    :to="{
      name: 'products.add'
    }"
    icon="fas fa-plus"
  >
    <q-tooltip>
      Agregar producto
    </q-tooltip>
  </q-btn>
</template>

<script>
import {
  QBtn,
  QTooltip
} from 'quasar'
import ButtonAddMixin from './ButtonAddMixin'

export default {
  name: 'ProductsButtonAdd',
  components: {
    QBtn,
    QTooltip
  },
  mixins: [
    ButtonAddMixin
  ]
}
</script>
