<template>
  <q-card>
    <q-img basic
      :src="value.url_image"
      @click="onClickProduct(value)"
      class="cursor-pointer"
      spinner-color="grey-8"
    />
    <q-card-section
      class="text-center cursor-pointer non-selectable"
      @click="onClickProduct(value)"
    >
      <div class="text-h6">
        {{ value.name }}
      </div>
      <div class="text-subtitle2">
        <q-chip>
          {{ value.score }} puntos
        </q-chip>
      </div>
    </q-card-section>
    <q-card-actions>
      <button-add-cart
        v-model="value"
        class="full-width"
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import {
  QCard,
  QCardSection,
  QCardActions,
  QImg,
  QChip
} from 'quasar'
import ButtonAddCart from 'src/components/ecommerce/buttons/Add'
import CardMixin from './CardMixin'

export default {
  name: 'ProductsCard',
  components: {
    QCard,
    QCardSection,
    QCardActions,
    QImg,
    QChip,
    ButtonAddCart
  },
  mixins: [
    CardMixin
  ],
  props: {
    value: {}
  }
}
</script>
