<template>
  <div class="row full-width">
    <div
      v-for="i in items"
      :key="i"
      class="q-pa-md col-xs-12 col-sm-6 col-md-4 col-lg-3"
      :class="$q.platform.is.mobile ? 'q-py-md' : 'q-pa-md'"
    >
      <q-card>
        <q-skeleton height="200px" square />
        <q-card-section>
          <div class="text-h6">
            <q-skeleton type="text" />
          </div>
          <div class="text-subtitle2">
            <q-skeleton type="text" />
          </div>
        </q-card-section>
        <q-card-actions>
          <q-skeleton type="QBtn" class="full-width" />
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
import {
  QCard,
  QCardSection,
  QCardActions,
  QSkeleton
} from 'quasar'
export default {
  name: 'ProductsCardSkeleton',
  components: {
    QCard,
    QCardSection,
    QCardActions,
    QSkeleton
  },
  data () {
    return {
      items: Array(8)
    }
  }
}
</script>
