<template>
  <form v-on:submit.prevent>
    <div class="row">
      <q-input autofocus
        v-model="form.name"
        :error="$v.form.name.$error"
        :error-message="getNameError"
        @blur="$v.form.name.$touch"
        ref="txtName"
        placeholder="Ingresa el nombre"
        label="Nombre"
        class="col"
      />
    </div>
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <q-input
          v-model="form.score"
          :error="$v.form.score.$error"
          :error-message="getScoreError"
          @blur="$v.form.score.$touch"
          type="number"
          placeholder="Cuantos puntos vale"
          label="Puntos"
          class="col"
        />
        <q-input
          v-model="form.url_image"
          :error="$v.form.url_image.$error"
          :error-message="getScoreError"
          @blur="$v.form.url_image.$touch"
          debounce="500"
          placeholder="URL a la imagen que se mostrara"
          label="Imagen"
          class="col"
        >
          <template v-slot:hint>
            <q-list>
              <q-item-label header>
                Ejemplos
              </q-item-label>
              <q-item
                v-for="url in examples"
                :key="url"
              >
                <q-item-section>
                  <q-btn flat dense no-caps
                    :label="url"
                    @click="onClickBtnExample(url)"
                    align="left"
                    class="full-width"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <q-img
          v-if="form.url_image"
          :src="form.url_image"
        />
      </div>
    </div>
  </form>
</template>

<script>
import {
  QInput,
  QImg,
  QList,
  QItem,
  QItemLabel,
  QItemSection
} from 'quasar'
import FormMixin from './FormMixin'

export default {
  name: 'ProductsForm',
  components: {
    QInput,
    QImg,
    QList,
    QItem,
    QItemLabel,
    QItemSection
  },
  mixins: [
    FormMixin
  ]
}
</script>
