<template>
  <div class="row q-col-gutter-md">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <q-img
        :src="product.url_image"
      />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      {{ product.description }}
      <div
        v-if="!product.description"
        class="text-weight-light"
      >
        Sin descripción
      </div>
    </div>
  </div>
</template>

<script>
import {
  QImg
} from 'quasar'
import ReportMixin from './ReportMixin'

export default {
  name: 'ProductsReport',
  components: {
    QImg
  },
  mixins: [
    ReportMixin
  ]
}
</script>
