<template>
  <q-drawer elevated overlay
    v-model="show"
    :width="400"
    :breakpoint="700"
    side="right"
  >
    <q-layout container
      view="hHh lpR fFf"
    >
      <q-header reveal>
        <q-toolbar>
          <q-btn flat round
            @click="show = false"
            icon="keyboard_backspace"
          />
          <q-toolbar-title>
            Mi carrito
          </q-toolbar-title>
          <button-score class="q-px-md" />
        </q-toolbar>
      </q-header>
      <q-page-container>
        <q-list highlight>
          <q-item v-if="!records.lengt">
            Sin elementos
          </q-item>
          <q-item
            v-for="product in records"
            :key="product.id"
          >
            <q-item-section avatar>
              <q-img
                :src="product.url_image"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ product.name }}
              </q-item-label>
              <q-item-label caption>
                {{ product.score }} puntos
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-btn flat round
                @click="onClickBtnRemove(product.id)"
                icon="remove"
                color="negative"
              >
                <q-tooltip>
                  Remover
                </q-tooltip>
              </q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </q-page-container>
      <q-footer>
        <q-toolbar>
          <q-btn
            :disable="!records.length"
            @click="onClickBtnBuy"
            label="Comprar"
            color="positive"
            class="full-width"
          />
        </q-toolbar>
      </q-footer>
    </q-layout>
  </q-drawer>
</template>

<script>
import {
  QDrawer,
  QLayout,
  QHeader,
  QToolbar,
  QToolbarTitle,
  QBtn,
  QFooter,
  QImg,
  QTooltip,
  QItemLabel
} from 'quasar'
import ButtonScore from 'src/components/users/buttons/Score'
import CartMixin from './CartMixin'

export default {
  name: 'EcommerceDrawerCart',
  components: {
    QDrawer,
    QLayout,
    QHeader,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QFooter,
    QImg,
    QTooltip,
    QItemLabel,
    ButtonScore
  },
  mixins: [
    CartMixin
  ]
}
</script>
