<template>
  <form v-on:submit.prevent>
    <div class="row">
      <q-input autofocus
        v-model="form.name"
        :error="$v.form.name.$error"
        :error-message="getNameError"
        @blur="$v.form.name.$touch"
        label="Nombre"
        class="col"
      />
    </div>
    <div class="row">
      <q-input
        v-model="form.email"
        :error="$v.form.email.$error"
        :error-message="getEmailError"
        @blur="$v.form.email.$touch"
        type="email"
        label="Correo electrónico"
        class="col"
      />
    </div>
    <div class="row">
      <q-input
        v-model="form.password"
        :error="$v.form.password.$error"
        :error-message="getPasswordError"
        :type="isPwd ? 'password' : 'text'"
        @blur="$v.form.password.$touch"
        label="Contraseña"
        ref="txtPassword"
        autocomplete="new-password"
        autocorrect="off"
        autocapitalize="none"
        class="col"
      >
        <template v-slot:prepend>
          <q-icon
            name="fas fa-key"
            @click="onClickGeneratePassword"
            class="cursor-pointer"
          >
            <q-tooltip>
              Generar contraseña
            </q-tooltip>
          </q-icon>
        </template>
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            @click="isPwd = !isPwd"
            class="cursor-pointer"
          />
        </template>
      </q-input>
    </div>
    <div class="row">
      <q-input
        v-model="form.passwordRepeat"
        :error="$v.form.passwordRepeat.$error"
        :error-message="getPasswordRepeatError"
        :type="isPwdR ? 'password' : 'text'"
        @blur="$v.form.passwordRepeat.$touch"
        label="Repetir contraseña"
        ref="txtPasswordRepeat"
        class="col"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwdR ? 'visibility_off' : 'visibility'"
            @click="isPwdR = !isPwdR"
            class="cursor-pointer"
          />
        </template>
      </q-input>
    </div>
  </form>
</template>

<script>
import {
  QInput,
  QIcon,
  QTooltip
} from 'quasar'
import FormMixin from './FormMixin'

export default {
  name: 'UsersRegisterForm',
  components: {
    QInput,
    QIcon,
    QTooltip
  },
  mixins: [
    FormMixin
  ]
}
</script>
