<template>
  <q-btn-dropdown flat stretch
    v-if="isAuthenticated"
    :label="getLabel"
    :icon="getIcon"
  >
    <q-list>
      <q-item clickable v-close-popup
        :to="{
          name: 'profile'
        }"
      >
        <q-item-section>
          Perfil
        </q-item-section>
      </q-item>
      <q-item clickable v-close-popup
        @click="onClickLogout"
      >
        <q-item-section>
          Cerrar sesión
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<script>
import {
  QBtnDropdown,
  QList,
  QItem,
  QItemSection
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import AccountMixin from './AccountMixin'

export default {
  name: 'UsersButtonsAccount',
  components: {
    QBtnDropdown,
    QList,
    QItem,
    QItemSection
  },
  mixins: [
    UserMixin,
    AccountMixin
  ]
}
</script>
