<template>
  <div>
    <q-btn flat stretch
      v-if="!isAuthenticated"
      @click="onClickBtnLogin"
      :label="getLabel"
      :icon="getIcon"
    />
    <component
      v-if="showDialogLogin"
      :is="getComponentDialogLogin"
      :show.sync="showDialogLogin"
      @show-register="showDialogRegister = true"
    />
    <component
      v-if="showDialogRegister"
      :is="getComponentDialogRegister"
      :show.sync="showDialogRegister"
      @show-login="showDialogLogin = true"
    />
  </div>
</template>

<script>
import {
  QBtn
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import LoginMixin from './LoginMixin'

export default {
  name: 'UsersButtonsLogin',
  components: {
    QBtn
  },
  mixins: [
    UserMixin,
    LoginMixin
  ]
}
</script>
