<template>
  <q-btn flat stretch round
    @click="onClickBtnScore"
    :label="getLabelScore"
    :class="getClass"
  />
</template>

<script>
import {
  QBtn
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import ScoreMixin from './ScoreMixin'

export default {
  name: 'UsersButtonsScore',
  components: {
    QBtn
  },
  mixins: [
    UserMixin,
    ScoreMixin
  ]
}
</script>
