<template>
  <div>
    <q-btn
      v-if="!isAuthenticated"
      @click="onClickBtnAdd"
      label="Lo quiero"
      class="full-width"
      color="primary"
    />
    <q-btn
      v-else-if="enoughCoupons"
      @click="onClickBtnDialogAddCart"
      label="Agregar al carrito"
      color="primary"
      class="full-width"
    />
    <q-btn
      v-else
      @click="onClickBtnShowDialogCoupons"
      :label="getLabel"
      color="primary"
      class="full-width"
    />
    <component
      v-if="showDialogCoupons"
      :is="getComponentShowDialogCoupons"
      :show.sync="showDialogCoupons"
      v-model="value.id"
    />
    <component
      v-if="showDialogLogin"
      :is="getComponentDialogLogin"
      :show.sync="showDialogLogin"
      @show-register="showDialogRegister = true"
    />
    <component
      v-if="showDialogRegister"
      :is="getComponentDialogRegister"
      :show.sync="showDialogRegister"
      @show-login="showDialogLogin = true"
    />
  </div>
</template>

<script>
import {
  QBtn
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import AddMixin from './AddMixin'

export default {
  name: 'EcommerceButtonsAdd',
  components: {
    QBtn
  },
  mixins: [
    UserMixin,
    AddMixin
  ],
  props: {
    value: {}
  }
}
</script>
