<template>
  <q-btn flat round
    v-if="isAuthenticated"
    @click="onClickBtn"
    icon="fas fa-ticket-alt"
  >
    <q-tooltip>
      Agregar cupón
    </q-tooltip>
    <component
      v-if="showDialogCoupon"
      :is="getComponentDialogCoupon"
      :show.sync="showDialogCoupon"
    />
  </q-btn>
</template>

<script>
import {
  QBtn,
  QTooltip
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import CouponMixin from './CouponMixin'

export default {
  name: 'EcommerceButtonsCoupon',
  components: {
    QBtn,
    QTooltip
  },
  mixins: [
    UserMixin,
    CouponMixin
  ]
}
</script>
