<template>
  <q-btn flat round
    v-if="isAuthenticated"
    @click="onClickBtn"
    icon="shopping_cart"
  >
    <q-badge floating
      v-if="totalRecords > 0"
      color="negative"
    >
      {{ totalRecords }}
    </q-badge>
    <q-tooltip>
      Mostrar carrito
    </q-tooltip>
  </q-btn>
</template>

<script>
import {
  QTooltip,
  QBadge
} from 'quasar'
import UserMixin from 'src/helpers/UserMixin'
import ShoppingCartMixin from './ShoppingCartMixin'

export default {
  name: 'EcommerceButtonsShoppingCart',
  components: {
    QTooltip,
    QBadge
  },
  mixins: [
    UserMixin,
    ShoppingCartMixin
  ],
  methods: {
    onClickBtn () {
      this.$store.dispatch('shoppingCart/setShow', true)
    }
  }
}
</script>
