<template>
  <q-table
    :data="coupons"
    :columns="columns"
    :loading="loading"
    class="no-shadow"
  />
</template>

<script>
import {
  QTable
} from 'quasar'
import CouponsMixin from './CouponsMixin'

export default {
  name: 'UsersProfileCoupons',
  components: {
    QTable
  },
  mixins: [
    CouponsMixin
  ]
}
</script>
