<template>
  <div class="row"
    v-if="loading"
  >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <q-skeleton type="circle" />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <q-skeleton type="text" />
    </div>
  </div>
  <div class="row"
    v-else
  >
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <q-knob readonly
        v-model="profile.score"
        show-value
        size="90px"
        :thickness="0.22"
        color="orange"
        track-color="orange-3"
        class="text-orange q-ma-md"
      />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
      <h1 class="text-h4">
        Hola, {{ profile.name }}
        <q-badge align="middle">
          {{ profile.email }}
        </q-badge>
      </h1>
    </div>
  </div>
</template>

<script>
import {
  QSkeleton,
  QKnob,
  QBadge
} from 'quasar'
import GeneralMixin from './GeneralMixin'

export default {
  name: 'UsersProfileGeneral',
  components: {
    QSkeleton,
    QKnob,
    QBadge
  },
  mixins: [
    GeneralMixin
  ]
}
</script>
