<template>
  <q-table
    :data="products"
    :columns="columns"
    :loading="loading"
    class="no-shadow"
  />
</template>

<script>
import {
  QTable
} from 'quasar'
import ProductsMixin from './ProductsMixin'

export default {
  name: 'UsersProfileProducts',
  components: {
    QTable
  },
  mixins: [
    ProductsMixin
  ]
}
</script>
