<template>
  <q-page padding>
    <breadcrumb title="Cupones" />
    <q-table
      :data="records"
      :columns="columns"
      :loading="loading"
      class="no-shadow"
    />
  </q-page>
</template>

<script>
import {
  QTable
} from 'quasar'
import Breadcrumb from 'src/components/Breadcrumb'
import CouponsMixin from './CouponsMixin'

export default {
  name: 'Coupons',
  components: {
    QTable,
    Breadcrumb
  },
  mixins: [
    CouponsMixin
  ]
}
</script>
