<template>
  <q-page padding>
    <q-table grid hide-header hide-bottom
      :data="products"
      :columns="columns"
      :pagination="pagination"
      row-key="id"
    >
      <template v-slot:top
        v-if="loading"
      >
        <product-card-skeleton />
      </template>
      <template v-slot:item="props">
        <div
          class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
          :class="$q.platform.is.mobile ? 'q-py-md' : 'q-pa-md'"
        >
          <product-card v-model="props.row" />
        </div>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import {
  QTable
} from 'quasar'
import ProductCard from 'src/components/products/Card'
import ProductCardSkeleton from 'src/components/products/CardSkeleton'
import IndexMixin from './IndexMixin'

export default {
  name: 'PageIndex',
  components: {
    QTable,
    ProductCard,
    ProductCardSkeleton
  },
  mixins: [
    IndexMixin
  ]
}
</script>
