<template>
  <q-page padding>
    <q-card>
      <q-tabs
        v-model="tabActive"
        align="left"
      >
        <q-tab
          name="general"
          label="General"
        />
        <q-tab
          name="coupons"
          label="Códigos"
        />
        <q-tab
          name="products"
          label="Productos"
        />
      </q-tabs>
      <q-tab-panels v-model="tabActive" animated>
        <q-tab-panel name="general">
          <profile-general />
        </q-tab-panel>
        <q-tab-panel name="coupons">
          <profile-coupons />
        </q-tab-panel>
        <q-tab-panel name="products">
          <profile-products />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import {
  QCard,
  QTabs,
  QTab,
  QTabPanels,
  QTabPanel
} from 'quasar'
import ProfileGeneral from 'src/components/users/profile/General'
import ProfileCoupons from 'src/components/users/profile/Coupons'
import ProfileProducts from 'src/components/users/profile/Products'
import ProfileMixin from './ProfileMixin'

export default {
  name: 'PageProfile',
  components: {
    QCard,
    QTabs,
    QTab,
    QTabPanels,
    QTabPanel,
    ProfileGeneral,
    ProfileCoupons,
    ProfileProducts
  },
  mixins: [
    ProfileMixin
  ]
}
</script>
