<template>
  <q-page padding>
    <breadcrumb title="Ranking" />
    <q-table
      :columns="columns"
      :data="records"
      :loading="loading"
      :pagination="pagination"
      :grid="$q.platform.is.mobile"
    />
  </q-page>
</template>

<script>
import {
  QTable
} from 'quasar'
import Breadcrumb from 'src/components/Breadcrumb'
import RankingMixin from './RankingMixin'

export default {
  name: 'PageRanking',
  components: {
    QTable,
    Breadcrumb
  },
  mixins: [
    RankingMixin
  ]
}
</script>
