<template>
  <div class="row items-center q-mb-md">
    <q-btn flat round dense
      :to="{
        name: 'home'
      }"
      icon="keyboard_backspace"
      class="q-mr-xs"
    />
    <div class="text-subtitle1 q-ml-xs">
      {{ title }}
    </div>
    <slot />
  </div>
</template>

<script>
import {
  QBtn
} from 'quasar'

export default {
  name: 'Breadncrumb',
  components: {
    QBtn
  },
  props: {
    title: {
      type: String,
      required: false
    }
  }
}
</script>
