<template>
  <q-btn flat round
    v-if="isAdmin"
    :to="{
      name: 'ranking'
    }"
    icon="score"
  >
    <q-tooltip>
      Ver ranking
    </q-tooltip>
  </q-btn>
</template>

<script>
import {
  QBtn,
  QTooltip
} from 'quasar'
import AdminMixin from 'src/helpers/AdminMixin'

export default {
  name: 'RankingButton',
  components: {
    QBtn,
    QTooltip
  },
  mixins: [
    AdminMixin
  ]
}
</script>
