<template>
  <form v-on:submit.prevent>
    <div class="row">
      <q-input autofocus
        v-model="form.email"
        :error="$v.form.email.$error"
        :error-message="getEmailError"
        @blur="$v.form.email.$touch"
        type="email"
        placeholder="Ingresa tú correo"
        label="Correo electrónico"
        class="col"
      />
    </div>
    <div class="row">
      <q-input
        v-model="form.password"
        :error="$v.form.password.$error"
        :error-message="getPasswordError"
        :type="showPassword ? 'password' : 'text'"
        @blur="$v.form.password.$touch"
        placeholder="Tú contraseña"
        label="Contraseña"
        autocomplete="current-password"
        autocorrect="off"
        autocapitalize="none"
        class="col"
      >
        <template v-slot:append>
          <q-icon
            :name="showPassword ? 'visibility_off' : 'visibility'"
            @click="showPassword = !showPassword"
            class="cursor-pointer"
          />
        </template>
      </q-input>
    </div>
  </form>
</template>

<script>
import {
  QInput,
  QIcon
} from 'quasar'
import FormMixin from './FormMixin'

export default {
  name: 'UsersLoginForm',
  components: {
    QInput,
    QIcon
  },
  mixins: [
    FormMixin
  ]
}
</script>
