<template>
  <q-dialog
    v-model="isShow"
    :maximized="$q.platform.is.mobile"
    content-class="dialog-blur"
  >
    <q-card>
      <q-card-section>
        <div class="text-h6">
          Ingresar cupón
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <form-custom ref="form" />
      </q-card-section>
      <q-card-actions>
        <q-btn
          :loading="loading"
          @click="onClickBtnAdd"
          label="Agregar cupón"
          color="primary"
        />
        <q-btn flat
          @click="isShow = false"
          label="Cancelar"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {
  QDialog,
  QCard,
  QCardSection,
  QCardActions,
  QBtn
} from 'quasar'
import FormCustom from './Form'
import DialogMixin from './DialogMixin'

export default {
  name: 'CouponsRedeemDialog',
  components: {
    QDialog,
    QCard,
    QCardSection,
    QCardActions,
    QBtn,
    FormCustom
  },
  mixins: [
    DialogMixin
  ],
  props: {
    value: {},
    show: {
      type: Boolean
    }
  }
}
</script>
