<template>
  <form v-on:submit.prevent>
    <div class="row">
      <q-input autofocus
        v-model="form.code"
        :error="$v.form.code.$error"
        :error-message="getCodeError"
        @blur="$v.form.code.$touch"
        placeholder="Ingresa el cupón"
        label="Cupón"
        class="col"
      />
    </div>
  </form>
</template>

<script>
import {
  QInput
} from 'quasar'
import FormMixin from './FormMixin'

export default {
  name: 'UsersLoginForm',
  components: {
    QInput
  },
  mixins: [
    FormMixin
  ]
}
</script>
