<template>
  <q-page padding>
    <breadcrumb title="Agregar producto">
      <q-space />
      <q-btn flat
        :to="{
          name: 'home'
        }"
        label="Cancelar"
        class="q-mx-md"
      />
      <q-btn
        :disable="loading"
        @click="onClickBtnSave"
        label="Guardar"
        color="primary"
      />
    </breadcrumb>
    <form-custom ref="form" />
  </q-page>
</template>

<script>
import {
  QSpace,
  QBtn
} from 'quasar'
import Breadcrumb from 'src/components/Breadcrumb'
import FormCustom from 'src/components/products/Form'
import AddMixin from './AddMixin'

export default {
  name: 'PageProductsAdd',
  components: {
    QSpace,
    QBtn,
    Breadcrumb,
    FormCustom
  },
  mixins: [
    AddMixin
  ]
}
</script>
