<template>
  <q-page padding>
    <div class="row q-mb-md items-center">
      <q-btn flat round dense
        :to="{
          name: 'home'
        }"
        icon="keyboard_backspace"
        class="q-mr-xs"
      />
      <q-skeleton
        v-if="loading"
        type="text"
        width="50%"
      />
      <template v-else>
        <div class="text-subtitle1 q-ml-xs">
          {{ product.name }}
        </div>
        <q-space />
        <q-chip>
          {{ product.score }} puntos
        </q-chip>
        <button-add-cart
          v-model="product"
          class="q-ml-md"
        />
      </template>
    </div>
    <div
      v-if="loading"
      class="row q-col-gutter-md"
    >
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <q-skeleton height="200px" square />
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <q-skeleton
          type="text"
          class="text-subtitle1"
        />
        <q-skeleton
          type="text"
          class="text-subtitle1"
        />
        <q-skeleton
          type="text"
          width="50%"
          class="text-subtitle1"
        />
      </div>
    </div>
    <!-- lazy loading -->
    <component
      v-if="!loading"
      :is="getComponentReport"
    />
  </q-page>
</template>

<script>
import {
  QItem,
  QItemSection,
  QBtn,
  QSkeleton,
  QSpace,
  QChip
} from 'quasar'
import ButtonAddCart from 'src/components/ecommerce/buttons/Add'
import ReportMixin from './ReportMixin'

export default {
  name: 'PageProduct',
  components: {
    QItem,
    QItemSection,
    QBtn,
    QSkeleton,
    QSpace,
    QChip,
    ButtonAddCart
  },
  mixins: [
    ReportMixin
  ]
}
</script>
