<template>
  <q-layout view="hHr LpR ffr">
    <q-header elevated reveal>
      <q-toolbar>
        <q-toolbar-title
          @click="onClickAppName"
          class="cursor-pointer desktop-only"
        >
          QCoupons
          <q-badge align="middle">
            {{ versionApp }}
          </q-badge>
        </q-toolbar-title>
        <q-space />
        <button-shopping-cart />
        <button-coupon class="q-mx-md" />
        <button-ranking />
        <button-add class="q-mx-md" />
        <button-score class="q-px-md" />
        <button-login />
        <button-account />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <drawer-cart />
  </q-layout>
</template>

<script>
import {
  QSpace,
  QBadge
} from 'quasar'
import ButtonAdd from 'src/components/products/ButtonAdd'
import ButtonRanking from 'src/components/ranking/Button'
import ButtonScore from 'src/components/users/buttons/Score'
import ButtonLogin from 'src/components/users/buttons/Login'
import ButtonAccount from 'src/components/users/buttons/Account'
import ButtonCoupon from 'src/components/ecommerce/buttons/Coupon'
import ButtonShoppingCart from 'src/components/ecommerce/buttons/ShoppingCart'
import DefaultMixin from './DefaultMixin'

export default {
  name: 'Default',
  components: {
    QSpace,
    QBadge,
    ButtonAdd,
    ButtonRanking,
    ButtonScore,
    ButtonLogin,
    ButtonAccount,
    ButtonCoupon,
    ButtonShoppingCart,
    DrawerCart: () => import('src/components/ecommerce/drawer/Cart')
  },
  mixins: [
    DefaultMixin
  ]
}
</script>
